* {
    box-sizing: border-box;
}

body {
    background: #000506;
    color: #fff;
    margin: 0;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -25px;

    overflow: hidden;
    max-height: 100%;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.heading {
    position: fixed;
    top: 0;
    left: 0;

    height: 63px;
    width: 100%;
    
    padding: 20px 30px;

    font-size: 20px;
    /* text-align: center; */

    transform: translate(0, 0, 0);
    border-bottom: 1px solid rgba(179, 179, 179, 0.15);
    backdrop-filter: blur(10px);
    
    overflow: hidden;
    box-sizing: border-box;
}

#title {display: inline-block;}

#statistic {
    float: right;
    display: inline-block;
    font-size: 14px;
    margin-left: 40px;
}

#statistic span {
    font-size: 12px;
    color: rgb(172, 172, 172);
}

.aside {
    position: fixed;
    top: 64;
    left: 0;

    height: 100%;
    width: 70px;
    padding-top: 20px;
    border-right: 1px solid rgba(179, 179, 179, 0.15);
    background: rgba(0, 0, 0, 0.16);
}

.show-cards {
    position: relative;
    display: block;
    width: 100%;
    height: 44px;

    background-color: transparent;
    background-size: 35%; 
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    outline: none;
}

.show-cards:hover, 
.show-cards:focus {
    background-color: rgba(255, 255, 255, 0.05); 
}

.show-cards.active {
    background-color: rgba(255, 255, 255, 0.1); 
}

.show-cards.active:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 3px;
    background: rgb(0, 130, 206)
}

.show-cards.classic {background-image: url('../images/classic.png')}
.show-cards.wog     {background-image: url('../images/wog.png')}
.show-cards.msg     {background-image: url('../images/msg.png')}
.show-cards.ju      {background-image: url('../images/ju.png')}
.show-cards.koft    {background-image: url('../images/koft.png')}
.show-cards.kc      {background-image: url('../images/kc.png')}


.content {
    display: block;
    max-height: calc(100% - 64px);
    margin: 64px 0 0 70px;
    overflow: auto;
}

#cards li {
    position: relative;
    display: inline-block;

    margin: 10px 30px; 
    padding-bottom: 10px;

    background: rgba(0, 37, 51, 0.57);
    border: 1px solid rgba(179, 179, 179, 0.15);
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.93);

    color: #666;
}

#cards .placeholder {
    margin: 10px 30px; 
    padding: 40px;
}

#cards .legendary-pack {
    border: 1px solid rgba(167, 133, 83, 0.15);
    background: rgba(119, 77, 15, 0.57);
    color: rgb(255, 161, 20);
}

#cards .head { 
    position: relative;
    height: 50px;
    width: 100%;

    padding: 11px 20px;

    background-color: rgba(40, 72, 105, 0.23);
    border-bottom: 1px solid rgba(179, 179, 179, 0.15);

    color: #fff;
    font-size: 22px;
    text-shadow: 1px 1px 1px #000;
}

#cards .legendary-pack .head {
    border-bottom: 1px solid rgba(167, 133, 83, 0.15);
    background-color: rgba(175, 106, 20, 0.23);
}

#cards .date {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    color: #666;
    text-shadow: none;
}

#cards .legendary-pack .date {color: rgb(196, 196, 196);}
#cards .legendary-pack .pack-dust {color: #eee;}

#cards .pack-dust {
    margin-left: 15px;
    font-size: 17px;
    color: #bfbfbf;
    text-shadow: none;
}

#cards .pack-dust:after {
    content: '';
    
    display: inline-block;
    width: 11px;
    height: 16px;

    margin-left: 4px;
    margin-bottom: -1px;

    background-image: url('../images/icon-dust.png');
    background-repeat: no-repeat; 
}