* {box-sizing: border-box;}

body#app {
    background: #000506;
    color: #fff;
    margin: 0;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -25px;

    overflow: hidden;
    max-height: 100%;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
                 Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans",
                 "Droid Sans","Helvetica Neue",sans-serif;

    /* user-select: none; */
}

.heading {
    position: fixed;
    top: 0;
    left: 0;

    height: 63px;
    width: 100%;
    
    padding: 20px 30px;

    font-size: 20px;

    transform: translate(0, 0, 0);
    border-bottom: 1px solid rgba(179, 179, 179, 0.15);
    backdrop-filter: blur(10px);
    
    overflow: hidden;
    box-sizing: border-box;
}

#title {
    font-size: 25px;
    display: inline-block;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.63);
}

.menu {
    display: inline-block;
    margin-left: 40px;
}

.menu button {
    background: none;
    outline: none;
    border: none;
    color: rgb(218, 216, 207);

    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.menu button:hover {color: #fff}

.menu button.active {
    color: #fff;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.63);
}

#statistic {
    float: right;
    display: inline-block;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 300;
}

#statistic span {
    font-size: 12px;
    color: rgb(172, 172, 172);
}

.aside {
    position: fixed;
    top: 64;
    left: 0;

    height: 100%;
    width: 70px;
    padding-top: 20px;

    border-right: 1px solid rgba(179, 179, 179, 0.15);
    background: rgba(0, 0, 0, 0.16);
}

.show-cards {
    position: relative;
    display: block;
    width: 100%;
    height: 44px;

    background-color: transparent;
    background-size: 35%; 
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    outline: none;
}

.show-cards:hover, 
.show-cards:focus {
    background-color: rgba(255, 255, 255, 0.05); 
}

.show-cards.active {
    background-color: rgba(255, 255, 255, 0.1); 
}

.show-cards.active:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 3px;
    background: rgb(0, 162, 255)
}

.show-cards.classic {background-image: url('../images/classic.png')}
.show-cards.wog     {background-image: url('../images/wog.png')}
.show-cards.msg     {background-image: url('../images/msg.png')}
.show-cards.jtu      {background-image: url('../images/jtu.png')}
.show-cards.kft    {background-image: url('../images/kft.png')}
.show-cards.kc      {background-image: url('../images/k&c.png')}


.content {
    position: relative;
    display: block;
    height: calc(100% - 64px);

    margin: 64px 0 0 70px;
    overflow: auto;
}

#cards.preload:before {
    content: '';

    width: 80px;
    height: 80px;
    
    border: 2px solid rgba(179, 179, 179, 0.15);
    border-top:3px solid rgb(0, 162, 255);
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#cards.preload:after {
    content: '';

    width: 50px;
    height: 50px;

    background-image: url('../images/Hearthstone.png');
    background-size: cover;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;

    animation: pulse 2s infinite linear;
}

@keyframes pulse {
    44%,
    56% {
        transform: scale(1.05);
    }
    
    38%, 
    50%,
    62% {
        transform: scale(1);
    }
}

#cards li {
    position: relative;
    display: inline-block;

    margin: 10px 30px; 
    padding-bottom: 10px;

    background: rgba(31, 44, 49, 0.71);
    border: 1px solid rgba(179, 179, 179, 0.15);
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.93);

    color: #666;

    animation-name: append;
    animation-iteration-count: 1;
    animation-duration: .5s;

    pointer-events: none;
    user-select: none;
}

@keyframes append {
    0% {
        transform: translateX(-40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

#cards li:not(.placeholder) {min-height: 257px;}

#cards .placeholder {
    margin: 10px 30px; 
    padding: 40px;
}

#cards .legendary-pack {
    border: 1px solid rgba(167, 133, 83, 0.15);
    background: rgba(119, 77, 15, 0.57);
    color: rgb(255, 161, 20);
}

#cards .head { 
    position: relative;
    height: 50px;
    width: 100%;

    padding: 11px 20px;

    background-color: rgba(40, 72, 105, 0.23);
    border-bottom: 1px solid rgba(179, 179, 179, 0.15);

    color: #fff;
    font-size: 22px;
    text-shadow: 1px 1px 1px #000;
}

#cards .legendary-pack .head {
    border-bottom: 1px solid rgba(167, 133, 83, 0.15);
    background-color: rgba(175, 106, 20, 0.23);
}

#cards .date {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    color: #666;
    text-shadow: none;
}

#cards .legendary-pack .date {color: rgb(196, 196, 196);}
#cards .legendary-pack .pack-dust {color: #eee;}

#cards .pack-dust {
    margin-left: 15px;
    font-size: 17px;
    color: #bfbfbf;
    text-shadow: none;
}

#cards .pack-dust:after {
    content: '';
    
    display: inline-block;
    width: 11px;
    height: 16px;

    margin-left: 4px;
    margin-bottom: -1px;

    background-image: url('../images/icon-dust.png');
    background-repeat: no-repeat; 
}


/* Modal */

#modal h1 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    text-align: center;

    margin-top: 20px;
}

#modal .progress {
    display: block;
    margin: 30px 40px;
    height: 10px;
    border-radius: 5px;

    background: #fff;
    animation: pulse 5s infinite linear;

    overflow: hidden;
}

#modal .progress .bar {
    display: inline-block;
    width: 0;
    height: 10px;
    background: rgb(0, 162, 255);
}