<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hearthstone Packs Statistics</title>
        <link rel="stylesheet" href="../assets/css/main.css">
    </head>
    <body id="app">
        <div id="root">
        </div>
 
        <script>
            import * as React from 'react';
            import * as ReactDom from 'react-dom';
            
            import Statistic from '../renderer/statistic';

            ReactDom.render(
                <Statistic />,
                document.getElementById('root')
            );
        </script>
    </body>
</html>